svg(viewbox='0 0 540 455' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
	g(clip-path='url(#clip0_2283_183)')
		path(d='M356.355 154.771L390.828 71.5967H382.021L316.091 225.164H232.123L322.731 30.3383C331.302 11.8707 349.904 0.0289249 370.295 0.0289249H448.8L430.057 43.4959L437.639 43.5429L456.523 0.0289249L539.831 -0.0180664V225.164H473.006V71.4558H464.435L433.541 155.006L356.355 154.771Z' fill='#1F1C4E')
		path(d='M169.866 229.723H315.337L283.926 301.384H242.625V307.634H287.976L323.014 229.676H400.247L318.869 418.205C309.309 440.385 287.411 454.764 263.205 454.811C256.894 454.811 250.207 454.858 243.473 454.858C213.38 455.046 169.819 454.858 169.819 454.858V384.747H255.011L257.459 377.839H225.389C194.684 377.839 169.819 353.028 169.819 322.389L169.866 229.723Z' fill='#1F1C4E')
		path(d='M490.76 335.594L539.784 335.406V229.723C504.417 229.676 487.699 229.676 443.808 229.723C420.355 229.723 399.163 243.679 389.98 265.248L309.074 454.952H539.831V346.12L493.444 346.026L431.14 346.261L433.965 335.876L490.76 335.594ZM441.642 301.948H490.807V307.587L440.323 307.869L441.642 301.948ZM490.76 378.027V384.653H420.685L422.475 378.121L490.76 378.027Z' fill='#1F1C4E')
		mask#mask0_2283_183(style='mask-type:alpha' maskunits='userSpaceOnUse' x='169' y='-1' width='371' height='456')
			path(d='M356.355 154.771L390.828 71.5967H382.021L316.091 225.164H232.123L322.731 30.3383C331.302 11.8707 349.904 0.0289249 370.295 0.0289249H448.8L430.057 43.4959L437.639 43.5429L456.523 0.0289249L539.831 -0.0180664V225.164H473.006V71.4558H464.435L433.541 155.006L356.355 154.771Z' fill='black')
			path(d='M169.866 229.723H315.337L283.926 301.384H242.625V307.634H287.976L323.014 229.676H400.247L318.869 418.205C309.309 440.385 287.411 454.764 263.205 454.811C256.894 454.811 250.207 454.858 243.473 454.858C213.38 455.046 169.819 454.858 169.819 454.858V384.747H255.011L257.459 377.839H225.389C194.684 377.839 169.819 353.028 169.819 322.389L169.866 229.723Z' fill='black')
			path(d='M490.76 335.594L539.784 335.406V229.723C504.417 229.676 487.699 229.676 443.808 229.723C420.355 229.723 399.163 243.679 389.98 265.248L309.074 454.952H539.831V346.12L493.444 346.026L431.14 346.261L433.965 335.876L490.76 335.594ZM441.642 301.948H490.807V307.587L440.323 307.869L441.642 301.948ZM490.76 378.027V384.653H420.685L422.475 378.121L490.76 378.027Z' fill='black')
		g(mask='url(#mask0_2283_183)')
			rect(x='8.29889' y='-2.9411' width='871.061' height='579.733' fill='url(#pattern0)')
		g(opacity='0.5')
			path(d='M255.058 384.747L322.307 384.23V377.604L257.507 377.886' stroke='white' stroke-width='2' stroke-miterlimit='10')
			path(d='M322.308 301.525H273.142L271.824 307.446L322.308 307.164V301.525Z' stroke='white' stroke-width='2' stroke-miterlimit='10')
			path(d='M322.307 335.218L371.332 335.03V229.3C335.965 229.253 319.246 229.253 275.355 229.3C251.903 229.3 230.711 243.256 221.527 264.825L140.574 454.529H371.332V345.744L324.945 345.65L262.64 345.838L265.466 335.453L322.307 335.218ZM273.142 301.525H322.307V307.164L271.823 307.446L273.142 301.525ZM322.307 377.604V384.23L255.058 384.747L257.507 377.839L322.307 377.604Z' stroke='white' stroke-width='2' stroke-miterlimit='10')
		path(opacity='0.5' d='M0 229.3H145.472L114.06 300.961H72.7593V307.211H118.11L153.101 229.3H230.334L149.051 417.782C139.491 439.962 117.592 454.341 93.3862 454.388C87.0757 454.388 80.3885 454.435 73.6541 454.435C43.5614 454.623 0 454.435 0 454.435V384.277H85.192L87.6408 377.369H55.5702C24.8653 377.369 0 352.558 0 321.92V229.3Z' stroke='white' stroke-width='2' stroke-miterlimit='10')
		g(opacity='0.5')
			path(d='M500.838 224.647L535.311 141.473H526.504L460.573 295.04H376.606L467.167 100.214C475.738 81.7468 494.339 69.905 514.731 69.905H593.236L574.492 113.372L582.074 113.419L600.959 69.905L684.267 69.858V295.04H617.442V141.332H608.918L578.024 224.882L500.838 224.647Z' stroke='white' stroke-width='2' stroke-miterlimit='10')
	defs
		pattern#pattern0(patterncontentunits='objectBoundingBox' width='1' height='1')
			use(xlink:href='#image0_2283_183' transform='matrix(0.001 0 0 0.00150252 0 -0.00109078)')
		clippath#clip0_2283_183
			rect(width='540' height='455' fill='white')
		image#image0_2283_183(preserveAspectRatio="xMidYMid meet" transform="translate(114, 0)" width="565" height="525" xlink:href='images/dnister.jpg')
