.submenu {
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;

	transform: translateX(-100%);
	display: block;
	width: 100%;
	height: auto;

	opacity: 0;
	transition: opacity 0.2s ease, transform 0.3s ease;

	background-color: $white;

	&.submenu--open_state {
		opacity: 1;
		transform: translateX(0);
	}
}

.submenu__list {
}

.submenu__item {
	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

.submenu__link {
	display: block;
	font-size: 1.6rem;
	padding: 0.8rem 0;

	transition: background-color 0.3s ease;
	color: $dark_blue;

	&:focus,
	&:hover {
		text-decoration: none;
		background-color: $gray_3;
	}
}

.submenu__content {
	padding-left: 0.8rem;
}

.submenu__title {
	display: inline-flex;
	padding: 0.8rem 0;
	align-items: center;

	font-size: 1.8rem;
	line-height: 1;
	color: $dark_blue;

	&:not(:last-child) {
		margin-bottom: 2.4rem;
	}
}

.submenu__title_icon {
	width: 1.6rem;
	height: 1.6rem;

	margin-right: 1rem;
	transform: rotate(90deg);
}
