-
	faqList= [
		{
			title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
			descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst pulvinar est facilisi condimentum commodo, mattis est nisl facilisis. Sem augue dolor fusce sed. Tempus suscipit turpis eu pellentesque turpis non. In consectetur magna feugiat id nisl lorem leo vel eget.  Tempus suscipit turpis eu pellentesque turpis non. ',
		},
		{
			title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra <br> mi lacinia aliquam quis morbi orci at nisi, dignissim.',
			descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst pulvinar est facilisi condimentum commodo, mattis est nisl facilisis. Sem augue dolor fusce sed. Tempus suscipit turpis eu pellentesque turpis non. In consectetur magna feugiat id nisl lorem leo vel eget.  Tempus suscipit turpis eu pellentesque turpis non. ',
		},
		{
			active: true,
			title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
			descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst pulvinar est facilisi condimentum commodo, mattis est nisl facilisis. Sem augue dolor fusce sed. Tempus suscipit turpis eu pellentesque turpis non. In consectetur magna feugiat id nisl lorem leo vel eget.  Tempus suscipit turpis eu pellentesque turpis non. ',
		},
		{
			title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra <br> mi lacinia aliquam quis morbi orci at nisi, dignissim.',
			descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst pulvinar est facilisi condimentum commodo, mattis est nisl facilisis. Sem augue dolor fusce sed. Tempus suscipit turpis eu pellentesque turpis non. In consectetur magna feugiat id nisl lorem leo vel eget.  Tempus suscipit turpis eu pellentesque turpis non. ',
		},
		{
			title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
			descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst pulvinar est facilisi condimentum commodo, mattis est nisl facilisis. Sem augue dolor fusce sed. Tempus suscipit turpis eu pellentesque turpis non. In consectetur magna feugiat id nisl lorem leo vel eget.  Tempus suscipit turpis eu pellentesque turpis non. ',
		},
	]

mixin dont_use
	// mixin is needed for correct include in files
